@import "tailwindcss";

:root {
  --background: #f8fafc;
  /* Slate-50 */
  --foreground: #0f172a;
  /* Slate-900 */
}

/* Remove Dark Mode Media Query to force Light Theme */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}